* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 25px;
  text-align: center;
}

label {
  padding: 10px;
}
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#onAdd {
  background-color: #4caf50; /* Green */
  border-radius: 8px;
  color: white;
  border-color: #4caf50;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-left: 8%;
} 

table {
  margin-top: 10px;
  width: 100%;
  border: 1px solid black;
}
